﻿
@{
    ViewData["Title"] = "Chi tiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CommentViewModel
<section class="section single-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    @await Component.InvokeAsync("DetailList", new { id = ViewBag.NewsId })

                    <hr class="invis1">

                    <div class="custombox clearfix">
                        <h4 class="small-title">Bình luận</h4>
                        <div class="row">
                            @*<partial name="_CommentPartialView" />*@
                            <div class="col-lg-12">
                                <form class="form-wrapper" asp-action="CommentNews" asp-controller="NewsDetail" method="POST">
                                    <input type="hidden" asp-for="NewsId" id="custId" value="@ViewBag.NewsId">
                                    <input type="text" class="form-control" placeholder="@ViewBag.UserName" disabled>

                                    <textarea class="form-control" placeholder="Bình luận của bạn" asp-for="NoiDung" id="comment" value="@Model.NoiDung"></textarea>
                                    <span asp-validation-for="NoiDung" style="color:red"></span>
                                    <button type="submit" class="btn btn-primary " id="hoang" disabled>Bình Luận</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div><!-- end page-wrapper -->
            </div><!-- end col -->

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">

                </div><!-- end sidebar -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>

@section scripts{
    
    <script type="text/javascript">
        $(document).ready(function(){
          $("#comment").hover(function(){

          },
          function () {
              if ($("#comment").val() != "") {
                  $('#hoang').removeAttr("disabled");
              } else {
                  $('#hoang').prop("disabled", true);
              }
          });
        });
    </script>
}