﻿@using NguyenHuuKhanhHoang_DOTNET_MVC.Core.Domain.Entity.News;
@model News
<div class="blog-title-area text-center">
    <ol class="breadcrumb hidden-xs-down">
        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
        <li class="breadcrumb-item active">@Model.TieuDe</li>
    </ol>

    <span class="color-orange"><a href="tech-category-01.html" title="">@Model.TheLoai</a></span>

    <h3>@Model.TieuDe</h3>

    <div class="blog-meta big-meta">
        <small><a title="">@Model.NewsDetail.ThoiGianDang</a></small>
        <small><a title="">by Khanh Hoang</a></small>
        <small><a href="#" title=""><i class="fa fa-eye"></i> 2344</a></small>
    </div><!-- end meta -->

    <div class="post-sharing">
        <ul class="list-inline">
            <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
            <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
            <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
        </ul>
    </div><!-- end post-sharing -->
</div><!-- end title -->

<div class="single-post-media">
    <img src="@Model.NewsDetail.ImageUrl" alt="" class="img-fluid">
</div><!-- end media -->

<div class="blog-content">
    <div class="pp">
        <p>@Model.NewsDetail.NoiDung</p>

    </div><!-- end pp -->

    <img src="@Model.NewsDetail.ImageUrlSub" alt="" class="img-fluid img-fullwidth">

    <div class="pp">

        <p>@Model.NewsDetail.NoiDungSub</p>
    </div><!-- end pp -->
</div><!-- end content -->
<div class="blog-title-area">
    <div class="tag-cloud-single">
        <span>Tags</span>
        <small><a  title="">@Model.TheLoai</a></small>
    </div><!-- end meta -->

    <div class="post-sharing">
        <ul class="list-inline">
            <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
            <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
            <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
        </ul>
    </div><!-- end post-sharing -->
</div><!-- end title -->

<div class="row">
    <div class="col-lg-12">
        <div class="banner-spot clearfix">
            <div class="banner-img">
                <img src="https://farm5.staticflickr.com/4840/31051092187_0029c61a99_c.jpg" alt="" class="img-fluid">
            </div><!-- end banner-img -->
        </div><!-- end banner -->
    </div><!-- end col -->
</div><!-- end row -->



<hr class="invis1">

<div class="custombox authorbox clearfix">
    <h4>Thông tin người đăng</h4>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <img src="https://cdn.itviec.com/employers/nashtech/logo/social/nBaSjKy2e68gEwoJxsLk5zCe/logo.jpg" alt="" class="img-fluid rounded-circle">
        </div><!-- end col -->

        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
            <h4><a href="#">@Model.User.Name</a></h4>
            <p>@Model.User.GioiThieu</p>

            <div class="topsocial">
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Website"><i class="fa fa-link"></i></a>
            </div><!-- end social -->

        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end author-box -->

<hr class="invis1">

@*<div class="custombox clearfix">
    <h4 class="small-title">You may also like</h4>
    <div class="row">
        <div class="col-lg-6">
            <div class="blog-box">
                <div class="post-media">
                    <a href="tech-single.html" title="">
                        <img src="~/layout/upload/tech_menu_04.jpg" alt="" class="img-fluid">
                        <div class="hovereffect">
                            <span class=""></span>
                        </div>
                    </a>
                </div>
                <div class="blog-meta">
                    <h4><a href="tech-single.html" title="">We are guests of ABC Design Studio</a></h4>
                    <small><a href="blog-category-01.html" title="">Trends</a></small>
                    <small><a href="blog-category-01.html" title="">21 July, 2017</a></small>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="blog-box">
                <div class="post-media">
                    <a href="tech-single.html" title="">
                        <img src="~/layout/upload/tech_menu_06.jpg" alt="" class="img-fluid">
                        <div class="hovereffect">
                            <span class=""></span>
                        </div>
                    </a>
                </div>
                <div class="blog-meta">
                    <h4><a href="tech-single.html" title="">Nostalgia at work with family</a></h4>
                    <small><a href="blog-category-01.html" title="">News</a></small>
                    <small><a href="blog-category-01.html" title="">20 July, 2017</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="invis1">*@

<div class="custombox clearfix">
    <h4 class="small-title">@ViewBag.CommentCount Bình Luận</h4>
    <div class="row">
        <div class="col-lg-12">
            <div class="comments-list">

                @foreach (var item in Model.Comments)
                {
                    <div class="media">
                        <a class="media-left">
                            <img src="https://cdn.itviec.com/employers/nashtech/logo/social/nBaSjKy2e68gEwoJxsLk5zCe/logo.jpg" alt="" class="rounded-circle">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading user_name">@item.UserName </h4>
                            <p> @item.NoiDung</p>

                        </div>
                    </div>
                }

            </div>
        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end custom-box -->
@section RenderScript{}