﻿@using NguyenHuuKhanhHoang_DOTNET_MVC.Core.Domain.Entity.News;
@model List<News>
    <style>
        .second-slot img {
            height: 242px;
        }

        .last-slot img {
            height: 242px;
        }
    </style>

@for (int i = 0; i < Model.Count; i++)
{
     string classDefault = null;
    if (i == 0)
    {
        classDefault = "first-slot";
    }
    else if(i==1)
    {
        classDefault = "second-slot";
    }
    else
    {
         classDefault = "last-slot";
    }
    <div class="@classDefault">
        <div class="masonry-box post-media">
            <img src="@Model[i].NewsDetail.ImageUrl" alt="" class="img-fluid">
            <div class="shadoweffect">
                <div class="shadow-desc">
                    <div class="blog-meta">
                        <span class="bg-orange"><a title="">@Model[i].TheLoai</a></span>
                        
                        <h4><a asp-controller="NewsDetail"
                           asp-action="Index"
                           asp-route-id="@Model[i].Id">
                            @Model[i].TieuDe
                        </a></h4>
                        <small><a  title="">@Model[i].NewsDetail.ThoiGianDang</a></small>
                        <small><a  title="">by Khanh Hoang</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>

}