﻿
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LoginViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container" style="padding-top:80px;">
    <div class="row">
        <div class="span12">
            <form asp-action="Login" asp-controller="Login" class="form-horizontal" method="POST">
                <fieldset>
                    <div id="legend">
                        <legend class="">Đăng nhập</legend>
                    </div>
                    <div class="control-group">
                        <div style="color:red">
                            @Html.ValidationSummary(true, "Đăng nhập thất bại: ")
                        </div>


                        <!-- Username -->
                        <label class="control-label" asp-for="UserName"></label>
                        <div class="controls">
                            <input type="text" asp-for="UserName" class="input-xlarge">
                        </div>
                        <span asp-validation-for="UserName" style="padding-left:25px;color:red"></span>
                    </div>
                    <div class="control-group">
                        <!-- Password-->
                        <label class="control-label" asp-for="Password"></label>
                        <div class="controls">
                            <input type="password" asp-for="Password" class="input-xlarge">
                        </div>
                        <span asp-validation-for="Password" style="padding-left:25px;color:red"></span>
                    </div>
                    <a style="padding-left:400px;" class="nav-link" asp-controller="Login" asp-action="Register">Đăng ký</a>
                    <div class="control-group">
                        <!-- Button -->
                        <div class="controls">
                            <button class="btn btn-success">Login</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>