﻿
@{
    ViewData["Title"] = "Đăng ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DangKyViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container" style="padding-top:80px;">
    <div class="row">
        <div class="span12">
            <form asp-action="DangKy" asp-controller="Login" class="form-horizontal" method="POST">
                <fieldset>
                    <div id="legend">
                        <legend class="">Đăng ký</legend>
                    </div>
                    <div class="control-group">
                        <div style="color:red;">
                            @Html.ValidationSummary(true, "Đăng ký không thành công. Bạn bị những lỗi sau xin vui lòng kiểm tra lại: ")
                        </div>

                        <!-- Username -->
                        <label class="control-label" asp-for="UserName"></label>
                        <div class="controls">
                            <input type="text" asp-for="UserName" class="input-xlarge">
                        </div> <br />
                        <span asp-validation-for="UserName" style="color:red;padding-left:180px;"></span>
                    </div>
                    <div class="control-group">
                        <!-- Password-->
                        <label class="control-label" asp-for="Password"></label>
                        <div class="controls">
                            <input type="password" asp-for="Password" class="input-xlarge">
                        </div> <br />
                        <span asp-validation-for="Password" style="color:red;padding-left:180px;"></span>
                    </div>
                    <div class="control-group">
                        <!-- Password-->
                        <label class="control-label" asp-for="ConfirmPassword"></label>
                        <div class="controls">
                            <input type="password" asp-for="ConfirmPassword" class="input-xlarge">
                        </div> <br />
                        <span asp-validation-for="ConfirmPassword" style="color:red; padding-left:180px;"></span>
                    </div>
                    <div class="control-group">
                        <!-- Password-->
                        <label class="control-label" asp-for="GioiThieu"></label>
                        <div class="controls">
                            <textarea asp-for="GioiThieu" class="input-xlarge"></textarea>
                        </div> <br />
                        <span asp-validation-for="GioiThieu" style="color:red;padding-left:180px;"></span>
                    </div>
                    <div class="control-group">
                        <!-- Button -->
                        <div class="controls">
                            <button class="btn btn-success">Đăng ký</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>