﻿@using NguyenHuuKhanhHoang_DOTNET_MVC.Core.Domain.Entity.News;
@model List<News>
@for (int i = 0; i < Model.Count; i++)
{

    <div class="blog-box row">
        <div class="col-md-4">
            <div class="post-media">
                <a title="">
                    <img src="@Model[i].NewsDetail.ImageUrl" alt="" class="img-fluid">
                    <div class="hovereffect"></div>
                </a>
            </div><!-- end media -->
        </div><!-- end col -->

        <div class="blog-meta big-meta col-md-8">
            <h4>
                <a asp-controller="NewsDetail"
                   asp-action="Index"
                   asp-route-id="@Model[i].Id">
                    @Model[i].TieuDe
                </a>
            </h4>
            <p>@Model[i].NewsDetail.NoiDungSub</p>
            <small class="firstsmall"><a class="bg-orange" title="">@Model[i].TheLoai</a></small>
            <small><a title="">@Model[i].NewsDetail.ThoiGianDang</a></small>
            <small><a title="">by Khanh Hoang</a></small>
            <small><a title=""><i class="fa fa-eye"></i> 1114</a></small>
        </div><!-- end meta -->
    </div><!-- end blog-box -->

    <hr class="invis">
}