﻿@using NguyenHuuKhanhHoang_DOTNET_MVC.Core.Domain.Entity.News;
@model List<News>
<style>
    .activePage {
        background-color: red;
        color: white;
    }

    .page-link1 {
        background-color: #edeff2;
        color: #a3a5a8;
    }
</style>
@for (int i = 0; i < Model.Count; i++)
{

    <div class="blog-box row">
        <div class="col-md-4">
            <div class="post-media">
                <a title="">
                    <img src="@Model[i].NewsDetail.ImageUrl" alt="" class="img-fluid">
                    <div class="hovereffect"></div>
                </a>
            </div><!-- end media -->
        </div><!-- end col -->

        <div class="blog-meta big-meta col-md-8">
            <h4>
                <a asp-controller="NewsDetail"
                   asp-action="Index"
                   asp-route-id="@Model[i].Id">
                    @Model[i].TieuDe
                </a>
            </h4>
            <p>@Model[i].NewsDetail.NoiDungSub</p>
            <a class="bg-orange" title="" asp-controller="Home"
                   asp-action="UpdateNews"
                   asp-route-id="@Model[i].Id">Sửa</a>
            <a class="bg-orange" title="" asp-controller="Home"
                   asp-action="DeleteNew"
                   asp-route-id="@Model[i].Id">Xóa</a>
            <small><a title="">@Model[i].TheLoai</a></small>

            <small><a title="">@Model[i].NewsDetail.ThoiGianDang</a></small>
        </div><!-- end meta -->
    </div><!-- end blog-box -->

    <hr class="invis">
}

<nav aria-label="..." style="padding-left:300px;">
    <ul class="pagination">
        @{
            if (ViewBag.PageNumber != 1)
            {

                <li class="page-item">
                    <a class="page-link page-link1" asp-controller="Home"
                       asp-action="UserInformation"
                       asp-route-page="@(ViewBag.PageNumber-1)">Previous</a>
                </li>

            }
            int count = 0;
            for (int i = ViewBag.PageNumber; i <= ViewBag.PageCount; i++)
            {

                if (ViewBag.PageNumber <= ViewBag.PageCount)
                {
                    if (i == ViewBag.PageNumber)
                    {
                        <li class="page-item  active">
                            <span class="page-link page-link1 activePage">
                                @i
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>

                    }
                    else
                    {
                        <li class="page-item">
                            <a asp-controller="Home"
                               asp-action="UserInformation"
                               asp-route-page="@i" class="page-link page-link1">@i</a>
                        </li>

                    }
                }

                count++;
                if (count == 4)
                {
                    break;
                }

            }

            if (ViewBag.PageCount != ViewBag.PageNumber && ViewBag.PageCount > 0)
            {

                <li class="page-item">
                    <a class="page-link page-link1" asp-controller="Home"
                       asp-action="UserInformation"
                       asp-route-page="@(ViewBag.PageNumber+1)">Next</a>
                </li>
            }

        }


    </ul>
</nav>


