﻿
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section first-section">
    <div class="container-fluid">
        <div class="masonry-blog clearfix">
            @await Component.InvokeAsync("NewsHeader")
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-top clearfix">
                        <h4 class="pull-left">Recent News <a href="#"><i class="fa fa-rss"></i></a></h4>
                    </div><!-- end blog-top -->

                    <div class="blog-list clearfix">
                        @*@await Component.InvokeAsync("NewsBody")*@
                        <partial name="_ListNewsPartialView" model="@Model" />
                    </div><!-- end blog-list -->
                    @*///aaaaaa*@
                </div><!-- end page-wrapper -->

                <hr class="invis">

                <div class="row">
                    <div class="col-md-12">
                        @*<nav aria-label="Page navigation">
                                <ul class="pagination justify-content-start">
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>*@
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->

            @await Component.InvokeAsync("NewsRight")
        </div><!-- end row -->
    </div><!-- end container -->
</section>

