﻿@{
    ViewData["Title"] = "Chỉnh sửa bài viết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model UpDateNewsViewModel
<div class="page-title lb single-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2><i class="fa fas fa-share bg-orange"></i> Chỉnh sửa bài viết <small class="hidden-xs-down hidden-sm-down">Tài khoản: @ViewBag.UserName </small></h2>
            </div><!-- end col -->
            <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                    <li class="breadcrumb-item active">Chỉnh sửa bài viết</li>
                </ol>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end page-title -->

<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="row">

                        <div class="col-lg-7">
                            <form class="form-wrapper" enctype="multipart/form-data" asp-action="UpDateData" asp-controller="Home" method="POST">
                                <input type="text" class="form-control" asp-for="Id" hidden>
                                <input type="text" class="form-control" asp-for="ImageUrl" hidden>
                                <input type="text" class="form-control" asp-for="ImageUrlSub" hidden>
                                <input type="text" class="form-control" asp-for="UserId" hidden>
                                <input type="text" class="form-control" asp-for="Type" hidden>
                                <input type="text" class="form-control" asp-for="NewDetailId" hidden>
                                <label class="mr-2"> Tiêu đề:</label> <span asp-validation-for="TieuDe" style="color:red"></span>
                                <input type="text" class="form-control" asp-for="TieuDe" placeholder="Tiêu đề bài viết">


                                <label class="mr-2"> Nội dung:</label>   <span asp-validation-for="NoiDung" style="color:red"></span>
                                <textarea class="form-control" asp-for="NoiDung" placeholder="Nội dung"></textarea>


                                <label class="mr-2"> Nội phụ:</label><span asp-validation-for="NoiDungSub" style="color:red"></span>
                                <textarea class="form-control" asp-for="NoiDungSub" placeholder="Nội dung phụ"></textarea>


                                <label class="mr-2"> Thể loại:</label> <span asp-validation-for="TheLoai" style="color:red"></span>
                                <input type="text" class="form-control" asp-for="TheLoai" placeholder="Thể loại">


                                <div class="form-group mt-3">
                                    <label class="mr-2"> Ảnh chính:</label>
                                    <img style="width:120px;height:120px;" src="@Model.ImageUrl" />
                                    <button type="button" id="buttonanhchinh" class="btn btn-primary" onclick="updateAnhChinh()" style="margin-left:20px;">Sửa</button>
                                    <div class="form-group mt-3" hidden id="anhchinh">
                                        <label class="mr-2">Upload ảnh chính:</label>
                                        <input asp-for="File">
                                    </div>
                                    <span asp-validation-for="FilePhu" style="color:red"></span> <br />
                                </div>
                                <div class="form-group mt-3">
                                    <label class="mr-2"> Ảnh phụ:</label>
                                    <img style="width:120px;height:120px;margin-left:16px;" src="@Model.ImageUrlSub" />
                                    <button type="button" class="btn btn-primary" style="margin-left:20px;" onclick="updateAnhphu()" id="buttonanhphu">Sửa</button>
                                    <div class="form-group mt-3" hidden id="anhphu">
                                        <label class="mr-2">Upload ảnh phụ:</label>
                                        <input asp-for="FilePhu">
                                    </div>
                                    <span asp-validation-for="FilePhu" style="color:red"></span><br />
                                </div>

                                <button type="submit" class="btn btn-primary">Sửa <i class="fa fas fa-share"></i></button>
                            </form>
                        </div>
                    </div>
                </div><!-- end page-wrapper -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>

@section scripts{

    <script type="text/javascript">
        
         function updateAnhChinh()
        {
             $('#buttonanhchinh').prop("hidden", true);
              $('#anhchinh').removeAttr("hidden");
        }
        function updateAnhphu()
        {
             $('#buttonanhphu').prop("hidden", true);
              $('#anhphu').removeAttr("hidden");
        }
    </script>
}