﻿@{
    ViewData["Title"] = "Đăng bài viết mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model UpLoadNewsViewModel
<div class="page-title lb single-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2><i class="fa fas fa-share bg-orange"></i> Đăng bài mới <small class="hidden-xs-down hidden-sm-down">Tài khoản: @ViewBag.UserName </small></h2>
            </div><!-- end col -->
            <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                    <li class="breadcrumb-item active">Đăng bài viết</li>
                </ol>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end page-title -->

<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="row">
                        
                        <div class="col-lg-7">
                            <form class="form-wrapper" enctype="multipart/form-data" asp-action="UpLoadData" asp-controller="Home" method="POST">


                                <input type="text" class="form-control" asp-for="TieuDe" placeholder="Tiêu đề bài viết">
                                <span asp-validation-for="TieuDe" style="color:red"></span>


                                <textarea class="form-control" asp-for="NoiDung" placeholder="Nội dung"></textarea>
                                <span asp-validation-for="NoiDung" style="color:red"></span>


                                <textarea class="form-control" asp-for="NoiDungSub" placeholder="Nội dung phụ"></textarea>
                                <span asp-validation-for="NoiDungSub" style="color:red"></span>


                                <input type="text" class="form-control" asp-for="TheLoai" placeholder="Thể loại">
                                <span asp-validation-for="TheLoai" style="color:red"></span>

                                <div class="form-group mt-3">
                                    <label class="mr-2">Upload ảnh chính:</label>
                                    <input asp-for="File">
                                </div>
                                <span asp-validation-for="FilePhu" style="color:red"></span> <br />
                                <div class="form-group mt-3">
                                    <label class="mr-2">Upload ảnh phụ:</label>
                                    <input asp-for="FilePhu">
                                </div>
                                <span asp-validation-for="FilePhu" style="color:red"></span><br />
                              
                                <button type="submit" class="btn btn-primary">Đăng <i class="fa fas fa-share"></i></button>
                            </form>
                        </div>
                    </div>
                </div><!-- end page-wrapper -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>